.quarto-title-block .quarto-title-banner {
  background-image: url(logo_MSU_CSTAT.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 0px;
  background-origin: content-box;
}



.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-top: 5px;
  height: 85%;
}